:host {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.container {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h2 {
  margin-bottom: 0.2rem;
  font-size: 24px;
  color: #2c3e50;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  transition: background 0.3s ease;

  &:hover {
    background: #eef2f7;
  }

  strong {
    font-size: 18px;
    color: #34495e;
  }
}

p {
  color: #777;
}

.actions {
    margin-top: 0.5rem;

    button {
      margin-right: 0.5rem;
      padding: 0.4rem 0.8rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.9rem;
      width: fit-content;
    }

    .btn-editar, .btn-ver-detalhes{
      background-color: #478cf4;
      color: white;

      &:hover {
        background-color: #3173d2;
      }
    }

    .btn-diff {
      background-color: #e0e0e0;

      &:hover {
        background-color: #ccc;
      }
    }
  }

.top-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.btn-nova-tarefa {
  padding: 0.6rem 1.2rem;
  background-color: #1f883d;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #097227;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .actions {
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 0.5rem;
      width: 100%;
    }
  }
}
