<div class="container">
  <h2>📋 Lista de Tarefas</h2>
  <div class="top-bar">
    <button class="btn-nova-tarefa" type="button" (click)="goNewTask()">+ Nova Tarefa</button>
  </div>

  <ul *ngIf="todos.length > 0; else empty">
    <li *ngFor="let todo of todos">
      <strong>{{ todo.title }}</strong> — Status: {{ todo.status }}
      <br />
      <!-- BOTAO PARA EDITOR -->
      <div class="actions">
        <button
          class="btn-editar"
          *ngIf="role === 'EDITOR' && todo.status !== 'PENDENTE_APROVACAO'"
          (click)="editar(todo.id)">Editar</button>
          <!-- BOTAO PARA APROVADOR -->
        <button class="btn-diff"
        *ngIf="role === 'APROVADOR' && todo.status === 'PENDENTE_APROVACAO'"
        (click)="verDiff(todo.id)">Ver Diff </button>
      </div>

      <hr />
    </li>
  </ul>

  <ng-template #empty>
    <p>Sem tarefas cadastradas.</p>
  </ng-template>

</div>
