<div class="container">
  <div class="user-bar" style="display: flex; align-items: center; gap: 1rem; margin-bottom: 1rem;">
    <span>{{ role }} logado!</span>
    <button (click)="trocarUsuario()">Trocar usuário</button>
  </div>
  <h2>📋 Lista de Tarefas</h2>
  <div class="top-bar">
    <button class="btn-nova-tarefa" type="button" (click)="goNewTask()">+ Nova Tarefa</button>
  </div>

  <ul *ngIf="todos.length > 0; else empty">
    <li *ngFor="let todo of todos">
      <strong>{{ todo.title }}</strong> — Status: {{ todo.status }}
      <br />
      <!-- BOTAO PARA EDITOR -->
      <div class="actions">
        <button class="btn-editar" *ngIf="role === 'EDITOR' && todo.status === 'RASCUNHO'"
          (click)="editar(todo.id)">Editar</button>
        <!-- BOTAO PARA APROVADOR -->
        <button class="btn-diff" *ngIf="role === 'APROVADOR' && todo.status === 'PENDENTE_APROVACAO'"
          (click)="verDiff(todo.id)">Ver Diff </button>
        <!-- BOTAO VER DETALHES -->
        <button class="btn-ver-detalhes" *ngIf="todo.status === 'ATIVA'" (click)="verDetalhes(todo.id)">Ver
          Detalhes</button>
      </div>

      <hr />
    </li>
  </ul>

  <ng-template #empty>
    <p>Sem tarefas cadastradas.</p>
  </ng-template>

  <!-- Modal Todo Detail -->
  <app-todo-detail [selectedTodo]="selectedTodo" (fechar)="fecharModal()">
  </app-todo-detail>

</div>
