<div class="container">
  <h2>📝 Nova Tarefa</h2>
  <div class="top-bar-form">
    <button class="voltar" type="button" (click)="voltar()">Voltar</button>
  </div>
  <form [formGroup]="form" (ngSubmit)="saveAsDraft()">
    <label>
      Título:
      <input formControlName="title" />
      <div *ngIf="form.get('title')?.touched && form.get('title')?.invalid">
        <div *ngIf="form.get('title')?.errors?.['required']">
          O título é obrigatório.
        </div>
        <div *ngIf="form.get('title')?.errors?.['minlength']">
          O título deve ter no mínimo 3 caracteres.
        </div>
      </div>
    </label>

    <label>
      Descrição:
      <textarea formControlName="description"></textarea>
      <div *ngIf="form.get('description')?.touched && form.get('description')?.invalid">
        <div *ngIf="form.get('description')?.errors?.['required']">
          A descrição é obrigatória.
        </div>
        <div *ngIf="form.get('description')?.errors?.['minlength']">
          A descrição deve ter no mínimo 3 caracteres.
        </div>
      </div>
    </label>

    <h3>Subtarefas:</h3>
    <div formArrayName="subtasks">
      <div *ngFor="let subtask of subtasks.controls; let i = index" [formGroupName]="i">
        <input formControlName="title" placeholder="Descrição da subtarefa" />
        <input type="checkbox" formControlName="done" />
        <button class="btn-remover" type="button" (click)="removeSubtask(i)">Remover</button>
      </div>
    </div>

    <button class="btn-adicionar" type="button" (click)="addSubtask()">+ Adicionar Subtarefa</button>

    <br /><br />
    <!-- Botão Salvar como Rascunho: só aparece no modo criação -->
    <button
      *ngIf="!isEditing"
      [disabled]="perfilUsuario !== 'EDITOR' && form.invalid"
      class="btn-salvar-rascunho"
      type="submit">
      Salvar como Rascunho
    </button>
    <br /><br />
    <!-- Botão Salvar para Aprovação: EDITOR no modo edição -->
    <button
      *ngIf="isEditing && perfilUsuario === 'EDITOR'"
      [disabled]="form.invalid"
      class="btn-salvar-aprovacao"
      type="button"
      (click)="saveForApproval()">
      Salvar para Aprovação
    </button>
    <br>

  </form>
</div>
