// .container {
//   padding: 2rem;
//   font-family: 'Courier New', Courier, monospace;
//   background: #f9f9f9;
//   color: #222222;
// }

// h2 {
//   text-align: center;
//   margin-bottom: 2rem;
// }

// .side-by-side {
//   display: flex;
//   gap: 2rem;
//   justify-content: space-between;
// }

// .left, .right {
//   flex: 1;
//   max-width: 50%;
//   background: #d5f0ff;
//   color: #222222;
//   padding: 1rem;
//   border-radius: 6px;
//   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

//   h3 {
//     margin-bottom: 1rem;
//     color: #060078;
//   }
// }

// .row {
//   display: flex;
//   align-items: flex-start;
//   gap: 8px;
//   padding: 8px;
//   border-bottom: 1px solid #eee;
//   min-height: 24px;

//   &.added {
//     background-color: #88ffaa;
//   }

//   &.removed {
//     background-color: #ff8888;
//   }

//   &.missing {
//     background-color: #d8d8d8;
//   }

//   &.normal {
//     background-color: #d5f0ff;
//   }

//   &.modified {
//     background-color: #ffee91;
//   }

//   &.padding-line {
//     background-color: #d8d8d8; // cinza para linhas artificiais
//   }
// }

// .key {
//   width: 150px;
//   font-weight: bold;
// }

// .value {
//   flex: 1;
//   white-space: pre-wrap;
//   font-size: 16px;
// }


.diff-container {
  padding: 2rem 3rem;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.side-by-side {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.left, .right {
  flex: 1;
  max-width: 50%;
  background: #d5f0ff;
  color: #222222;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  h3 {
    margin-bottom: 1rem;
    color: #060078;
  }
}


.row {
  display: flex;
  gap: 4px;
  padding: 8px;
  border-bottom: 1px solid #eee;
  // min-height: 24px; // garante altura minima para linhas vazias

  &.added {
    background-color: #88ffaa;
  }

  &.removed {
    background-color: #ff8888;
  }

  &.missing {
    background-color: #bebebe;
  }

  &.normal {
    background-color: #d5f0ff; // azul claro padrao de fundo
  }

  &.modified {
    background-color: #ffee91;
  }
}

.key {
  width: 150px;
  font-weight: bold;
}

.padding-line {
  background-color: #bebebe; // cinza para linhas artificiais
}

.value {
  flex: 1;
  white-space: pre-wrap; // permite quebra de linhas
  font-size: 16px;
}
